.element-one {
  width: 220px;
  bottom: 140px;
  left: 190px;
}

.element-two {
  width: 150px;
  top: 450px;
  right: 160px;
}

.buble-one {
  bottom: 200px;
  left: 330px;
}

.buble-two {
  top: 410px;
  right: 225px;
}
