.element-four {
  width: 220px;
  top: calc(50% - -175px);
  left: calc(50% - 0px);
}

.element-five {
  width: 150px;
  top: calc(50% - -50px);
  left: calc(50% - -200px);
}

.buble-four {
  top: calc(50% - -290px);
  left: calc(50% - -60px);
  overflow: hidden;
}

.buble-five {
  top: calc(50% - -25px);
  left: calc(50% - -270px);
  overflow: hidden;
}
