.element-one {
  width: 220px;
  top: calc(50% - 10px);
  left: calc(50% - 680px);
}

.element-two {
  width: 150px;
  top: 450px;
  right: 160px;
}

.buble-one {
  top: calc(50% - -190px);
  left: calc(50% - 535px);
}

.buble-two {
  top: calc(50% - 50px);
  left: calc(50% - -100px);
  overflow: hidden;
}
